

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(58, 218, 133);
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    text-transform: uppercase;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    width: 70%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

button[type=submit]:hover {
    background-color: #45a049;
}




