*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top,#0b0c10, #1f2833);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1300px;
    height: 75px;
    margin: auto;
}

.logo{
    color: #66fcf1;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
.content, .par{
    font-size: 20px;
    margin-top: 50px;
    color: #fafafa;
    
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(239, 157, 41);
    position: relative;
}


.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}


.image{
    width: 550px;
    height: 380px;
    position: absolute;
    top: -20px;
    left: 730px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    background: url(static/Fake-News-Detection-using-Machine-Learning.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100px;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.container {

    width:200px;

    position: relative;

    margin-left: 300px;
    margin-top: 50px;

}


.click{

    background-color: #39d798;

}

.click:hover {

    background-color: #9f7ce9;

}

.click,.links {

    padding: 15px;

    font-size: 1.2em;

    font-family: futura Md BT;

    border: 1px solid grey;

    outline: none;

    width: 250px;

    color:#fff;

    transition: 0.3s;

}

.list {

    position: absolute;

    transform: scaleY(0);

    transform-origin: top;

    transition: 0.3s;

}

.newlist {

    transform: scaleY(1);

}

.links {

    background-color: #283c63;

}

.links:hover {

    background-color: #01579B;

    transform: scale(1.1);

}